<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/feather.css">
    <link rel="stylesheet" href="/stylesheets/materialdesignicons.min.css">
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <link rel="stylesheet" href="/stylesheets/typicons.css">
    <link rel="stylesheet" href="/stylesheets/simple-line-icons.css">
    <link rel="stylesheet" href="/stylesheets/vendor.bundle.base.css">
    <link rel="stylesheet" href="/stylesheets/select2.min.css">
    <link rel="stylesheet" href="/stylesheets/select2-bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style1.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/vendor.bundle.base.js"></script>
    <script src="/javascripts/typeahead.bundle.min.js"></script>
    <script src="/javascripts/select2.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/off-canvas.js"></script>
    <script src="/javascripts/hoverable-collapse.js"></script>
    <script src="/javascripts/template.js"></script>
    <script src="/javascripts/settings.js"></script>
    <script src="/javascripts/todolist.js"></script>
    <script src="/javascripts/file-upload.js"></script>
    <script src="/javascripts/typeahead.js"></script>
    <script src="/javascripts/select2.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>
</html>
